// background color
$background-color-tableHeader: #273040;
$background-color-tableData: #1e242e;
$background-color-popUp: #343740;

//border color
$border-color-tableHeader: #1c222d;
$border-color-tableBody: #1a1f27;

//text color
$text-color-normal: #acafb1;
$text-color-popUp: #3271a6;

//hover color
$hover-color-row: #435b79;
